/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-body-style{
   background:  linear-gradient(to top right,#263852,#607393);
}






.open-sans-light-condensed{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 75;
}


.open-sans-bold-expanded{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100; /*sirve para controlar el  ancho de las letras*/
}

.open-sans-normal{
    font-family: "Open Sans" sans-serif;
    font-optical-sizing:auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 75;
}