.navTrend{
    background-color:#161c24 !important;
    
}

nav a{
    margin-left: 40px;
}

#annoucementBar{
    background-color:#FFFFFF ;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#161c24;
    font-size: 2vw;
}
   




@media(max-width:550px){
    .navLogo{
       scale:0.8;
    }
}
