<section id="homeBanner">
    <div class="banner">
        <div class="square ">
             <div class="col textBanner p-0"><p  class="open-sans-bold-expanded">Trending products</p></div>
             <div class="col textBanner p-0"> <p class="open-sans-bold-expanded">Global delivery</p>  </div>
            <div class="line"></div>
        </div>     
        <div class="homeImageBanner justify-content-center ">     
            <img src="../../../../../assets/ShoppingHomeBanner2.jpg"  fill alt="">
        </div>
    </div>
</section>

<section id="homeLogo">
    <div>
        <img src="../../../../../assets/LogoColorAzulOscuro.png" alt="">
    </div>
</section>

