<section id="homeBanner">
    <div class="banner">
        <div class="square ">
             <div class="col textBanner  open-sans-bold-expanded">Trending products</div>
             <div class="col textBanner  open-sans-bold-expanded"> Global delivery</div>
            <div class="line"></div>
        </div>     
        <div class="homeImageBanner justify-content-center  ">     
            <img src="../../../../../assets/ShoppingHomeBanner2.jpg"   fill alt="">
        </div>
    </div> 
</section>

<section id="homeLogo">
    <div id="smooth-content">
        <div id="smooth-wrapper" class="boxgsap " >
            <img  class="imgLogo" src="../../../../../assets/WithoutBg.png" alt="GlobalTrendyLogo" >
        </div>
    </div>
</section>

<div class="container">
    <section id="welcoming" class="panel">
            <h2 style="color:white; font-size:8vw;opacity: 0;" class="suse-ExtraBold welcomingText">Ready for the season!</h2>
    </section>
    <section class="panel">
        <h2 style="color:white; font-size:8vw;opacity: 0;" class="suse-ExtraBold welcomingText"> let's see what we have</h2>
    </section>
</div>

<section>
  <app-categories></app-categories>
</section>











