<footer>
    <div id="dFooter">
        <div style="display: flex;" class="justify-content-center pb-2">
            <h4  class="quickTitle">Quick links</h4>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
    
                <ul class="quickLinksList " type="none">
                    <a href="#" ><li class="linkList open-sans-italic-expanded">About Us</li></a>
                    <a href="#"><li class="linkList open-sans-italic-expanded">Contact</li></a>
                    <a href="#"><li class="linkList open-sans-italic-expanded">Catalog</li></a>
                </ul>
            </div>
            <div class="col">
                <ul type="none">
                    <a href=""><li class="linkList open-sans-italic-expanded">Shipping policy</li></a>
                    <a href=""><li class="linkList open-sans-italic-expanded">Support </li></a>
                    <a href=""><li class="linkList open-sans-italic-expanded">FAQ</li></a>
                </ul>
            </div>
            <div class="col">    
                    <a href="https://web.facebook.com"><img width="32" height="32" ngSrc="../../../../assets/facebook.png" alt="facebook account"  ></a>
                    <a href="https://www.instagram.com"><img width="32" height="32" ngSrc="../../../../assets/instagram.png" alt="Instagram acccount"></a>
                    <a href="https://www.tiktok.com/"><img width="32" height="32" ngSrc="../../../../assets/tik-tok.png" alt="tik-tok account"></a>      
            </div>
            
        </div>
    </div>
</footer>
