
.containerCategories{
    width: 100vw;
    margin-top: 20vw;
    
   /*  display: flex; */
}
.panel{
    width: 98%; 
   
}



.cardFont{
    font-size: 120%;
}

@media(max-width: 900px){

    .cardFont{
        font-size:100%
    }
}
